.dropdown {
  position: absolute;
  top: calc(100% + 26px);
  right: 3px;
  display: flex;
  width: 90px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Numbers-4, 4px);
  border-radius: 2px;
  /* drop-shadow/0.12+0.8+0.5 */
  box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12),
    0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    color: #262626;
    
  }
}
