.support_page {
  display: flex;
  flex-direction: column;
}
.buttons {
  padding: 32px 20px 24px 20px;
  border-bottom: 1px solid #D9D9D9;
}


.title {
  font-size: 16px;
  color: #262626;
}

.inquiry, .response {
  padding: 24px 20px;
  p {
    margin-top: 30px;
  }
  .date {
    margin-top: 12px;
    color: #8C8C8C;
  }
}

.response {
  background: #FAFAFA;
}